#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #000;
  margin-top: 60px;
}

body {
  background-color: #ffffff;
}
h5 {
  font-size: 18px;
}
p {
  font-size: 18px;
}
.text-center {
  text-align: center;
}
