<template>
  <div class="row">
    <div class="col-md-12">
      <h1>Add</h1>
      <input type="text" v-model="name" placeholder="name" />
      <input type="text" v-model="age" placeholder="age" />
      <button @click="add">add</button>
    </div>
    <div class="col-md-12">
      <h1>Data</h1>
      <input type="text" v-model="search" placeholder="search" />
      <b-table striped hover :fields="fields" :items="items">
        <template #cell(manage)="data">
          <b-button variant="danger" @click="deleteItem(data.index)"> delete </b-button>
        </template>
        <template #cell(check)="{ item }">
          <input type="checkbox" v-model="item.done" />
        </template>
        <template #cell(name)="{ item }">
          <p :style="item.done && { textDecoration: 'line-through' }">{{ item.name }}</p>
        </template>
        <template #cell(age)="{ item }">
          <p :style="item.done && { textDecoration: 'line-through' }">{{ item.age }}</p>
        </template>
        <template #table-caption>
          <div class="text-center my-2">
            <strong v-if="items.length == 0"> ไม่มีพบรายการ</strong>
          </div></template
        >
      </b-table>
    </div>
  </div>
</template>
<script lang="ts">
export default {
  data() {
    return {
      name: '',
      age: '',
      fields: [
        { key: 'check', label: 'check' },
        { key: 'name', label: 'Name' },
        { key: 'age', label: 'Age' },
        { key: 'manage', label: 'Manage' },
      ],
      items: [
        { no: 1, name: 'John', age: 40, done: false },
        { no: 2, name: 'Jane', age: 24, done: false },
        { no: 3, name: 'Susan', age: 16, done: false },
        { no: 4, name: 'Chris', age: 55, done: false },
        { no: 5, name: 'Dan', age: 30, done: false },
      ],
      itemsSearch: [
        { no: 1, name: 'John', age: 40, done: false },
        { no: 2, name: 'Jane', age: 24, done: false },
        { no: 3, name: 'Susan', age: 16, done: false },
        { no: 4, name: 'Chris', age: 55, done: false },
        { no: 5, name: 'Dan', age: 30, done: false },
      ],
      search: '',
    }
  },
  watch: {
    search: function () {
      this.items = this.itemsSearch.filter((item: any) => {
        return this.search
          .toLowerCase()
          .split(' ')
          .every((v: any) => item.name.toLowerCase().includes(v))
      })
    },
  },
  methods: {
    add() {
      this.items.push({ no: this.items.length + 1, name: this.name, age: this.age })
      this.itemsSearch.push({ no: this.items.length + 1, name: this.name, age: this.age })
    },
    deleteItem(index: number) {
      this.items.splice(index, 1)
    },
  },
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  margin-top: 60px;
}
</style>
